@media  screen and (min-width: 992px) {
    .hamburger-icon{
        display: none;
    } 

    .nav-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 70px;
    }

    #lists{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: 0;
    }

    #lists li{
        padding-left: 50px;
        font-size: 30px;
        line-height: 5px;
    }

    .home-icon{
        line-height: 2px;
    }

    .main-content .animation{
        background: url(/images/realistic-water-splash-dark-background_1355-88.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        background-color: black;
    }

    .profile img{
        top: -200px;
        border-radius: 50%;
        width: 20%;
    }

    .main-content .intro{
        font-size: 40px;
        top: -150px;
        text-transform: uppercase;
    }

    #skill{
        font-size: 30px;
        border: none;
    }

    .skill-set{
        display: flex;
        justify-content: center;
        position: relative;
        top: -50px;
    }

    .two-lines{
        background-color: #292F39;
        height: 2px;
        width: 420px;
        position: relative;
        top: 25px;
    }

    .skills{
        justify-content: space-evenly;
    }

    .skills p{
        font-size: 25px;
        font-weight: 600;
    }
    #jquery-icon{
        width: 126px;
        height: 144px;
    }

    #about-me{
        border: none;
        font-size: 40px;
    }
    
    .aboutMe{
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

    .three-lines{
        background-color: white;
        height: 2px;
        width: 400px;
        position: relative;
        top: 35px;
    }

    .aboutMe div:nth-of-type(1){
        margin-right: 10px;
    }

    .about-me{
        padding: 50px 0;
        margin: 50px 0;
    }

    .about-me p{
        font-size: 30px;
        padding: 0 120px;
        line-height: 40px;
    }

    .project{
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

    .four-lines{
        background-color: #292F39;
        height: 2px;
        width: 500px;
        position: relative;
        top: 35px;
    }

    .project-text{
        border: none;
        font-size: 40px;
        color: #292F39;
    }

    .project-row-one, .project-row-two{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    .project-photo:hover{
        box-shadow: 12px 12px 2px 1px rgba(41, 47, 57, 0.2);
    }

    .project-photo{
        width: 250px;
        height: 125px;
        border-radius: 10px;;
    }

    .projects p{
        font-size: 25px;
    }
    .contact-text{
        font-size: 30px;
    }

    .social-icons{
        margin-top: 20px;
    }

}