@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Creepster&family=Press+Start+2P&family=Wallpoet&display=swap');
body{
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 70px 2 1fr;
    width: 100%;
}

#lists{
    display: none;
    list-style: none;
    flex-direction: column;
    text-align: center; 
    margin: 0 50px 0 0;
    font-size: 20px;
    position: relative;
    top: -30px;
}

#lists li{
    margin-bottom: 10px;;
    font-family: 'Lobster', sans-serif;
}

#lists a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-bar{
    grid-column: 1/8;
    grid-row: 1/2;
    background-color:black;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.nav-bar section{
    display: flex;
    justify-content: space-between;
}

.nav-bar a{
    text-decoration: none;
}
.nav-bar i{
    color: white;
}

.nav-bar li{
    margin-bottom: 5px;
}

.home-icon{
    margin-left: 15px;
    margin-top: 10px;
}

.hamburger-icon{
    padding: 0;
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.cross-icon{
    display: none;
    margin-right: 30px;
    margin-top: 15px;
    cursor: pointer;
}

#scene-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

.main-content{
    grid-column: 1/8;
    grid-row: 2/3;
    margin: 0;
    width: 100%;
}

.main-content .profile{
    text-align: center;
    margin: 0;
    background-color: black;
    width: 100%;
}

.profile img{
    width: 20%;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    margin-top: 100px;;
}

.main-content .intro{
    grid-row: 2/3;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 20px;
}

.intro h3{
    font-family: 'Wallpoet', sans-serif;
    color: white;
    padding-top: 10px;
    margin: 0 30px;
}

/* .intro p{
    font-family: 'charm', sans-serif;
    color:rgb(100, 99, 99)
} */

#skill{
    text-align: center;
    color:rgb(71, 70, 70);
    border-bottom: 1px solid rgb(184, 184, 184);
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    margin-top: 20px;
    color: white;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.skills p{
    padding: 0;
    margin-top: 0;
    color: white;
}

.fa-html5{
    color: #DD4B25;
}

.fa-js-square{
    color: #EFD81D;
}

.fa-python{
    color: #3773A5;
}
.fa-react{
    color: rgb(97, 218, 251)
}
.fa-css3-alt{
    color: #0172B6;
}

.img-icon{
    width: 40px;
    height: 40px;
}

.skills #mongoDB-icon{
    margin-top: 6px;
}
.skills .fa-github{
    /* color: #292F39; */
    color: white;
}

.main-content .about-me{
    text-align: center;
    background-color: #292F39;
    background-color:rgba(41, 47, 57, 0.8);
    color: black;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

#about-me{
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 10px;
    color: white
}

.about-me p{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
}

.projects{
    text-align: center;
    margin: 50px auto;
    position: relative;
    color: white;
}

.project-text{
    text-align: center;
    border-bottom: 1px solid rgb(184, 184, 184);
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Creepster', sans-serif;
    font-size: 30px;
}

.projects p{
    text-align: center;
}

.project-row-one, .project-row-two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-photo{
    width: 250px;
    height: 120px;
    border-radius: 10px;
}

.img-container{
    position: relative;
}

.project-info{
    background-color: black;
    width: 250px;
    height: 120px;
    display: none;
}


.project-info p{
    padding: 0 10px;
   padding-top: 20px;
}

.black-button{
    background-color: black;
    color: white;
}

.info-button, .back-button{
    width: 70px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
}
.info-button{
    bottom: 0;
    right: 0;
}

.back-button{
    display:none;
    bottom: -135px;
    right: 0;
}


#footer{
    grid-column: 1/8;
    grid-row: 3/4;
    background-color: #292F39;
    width: 100%;
    position: relative;

}

.contact-me{
    color: white;
    text-align: center;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

.contact-text{
    margin: 0;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.icon{
    margin: 10px 10px 20px 10px;
}

.fa-twitter{
    color: #55ADED;
}
.fa-envelope, .fa-github, .fa-linkedin{
    color: white;
}